/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v16-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v16-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v16-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v16-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  
  max-width: 900px;
  margin: 0 auto;
  padding-top: 40px;
}

.order-list {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.single-product {
  display: flex;
  align-items: center;
  
  padding-top: 15px;
  padding-bottom: 18px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid #dbdbdb;
}

.single-product:last-child {
  border-bottom: none;
}

.single-product__name {
  font-weight: bold;
}

.amount-controls {
  display: flex;
}

.amount-controls__button {
  position: relative;
  
  width: 25px;
  height: 25px;
  
  font-size: 0;
  background-color: transparent;
  
  border: 1px solid #ff0000;
  border-radius: 50%;
}

.amount-controls__button-dec::after {
  content: '';
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 1px;
  background-color: #ff0000;
}

.amount-controls__button-inc::after {
  content: '';
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 1px;
  background-color: #ff0000;
}

.amount-controls__button-inc::before {
  content: '';
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 11px;
  background-color: #ff0000;
}

.amount-controls__value {
  width: 10px;
  border: none;
}

.remove-item {
  width: 82px;
  height: 25px;
  
  color: #a6a6a6;
  font-size: 13px;
  background-color: transparent;
  
  border-radius: 10px;
  border: 1px solid #bfbfbf;
}
