.amount-controls {
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
  border: none;
  width: 100px;
  
  &__btn {
    position: relative;
    
    width: 25px;
    height: 25px;
    
    font-size: 0;
    background-color: transparent;
    
    border: 1px solid $endy-red;
    border-radius: 50%;
    
    &:hover {
      cursor: pointer;
    }
    
    &:active {
      transform: translateY(1px);
    }
    
    &-dec {
      margin-right: 7px;
    }
    
    &-inc {
      margin-left: 7px;
    }
    
    &-dec::after {
      @include pseudo-line;
      width: 11px;
      height: 1px;
    }
    
    &-inc::after {
      @include pseudo-line;
      width: 11px;
      height: 1px;
    }
    
    &-inc::before {
      @include pseudo-line;
      width: 1px;
      height: 11px;
    }
  }
  
  &__value {
    width: 20px;
    border: none;
    text-align: center;
  }
}

.amount-control {
  display: inline-block;
  vertical-align: middle;
  
  &:disabled {
    cursor: not-allowed;
    background-color: transparent;  
  }
}





