.progress {
  margin-top: 32px;
  margin-bottom: 32px;
  
  &__visualization {
    position: relative;
    
    display: inline-block;
    width: $progress-bar-width;
  }
  &__value {
    position: relative;
    top: 0px;
    left: 0px;
    
    font-size: 13px;
    font-weight: bold;
  }
  &__order-number {
    display: inline-block;
    margin: 0;
    margin-top: 2px;
    margin-right: 75px;
    vertical-align: top;
  }
}
