.progress-bar {
  position: relative;
  
  display: inline-block;
  width: $progress-bar-width;
  height: $progress-bar-height;
  border-radius: 10px;
  overflow: hidden;
  
  &__wrapper {
    width: $progress-bar-width - 2px;
    height: $progress-bar-height - 2px;
    border-radius: 10px;
    border: 1px solid $endy-grey;
  }
  
  &__filler {
    position: absolute;
    top: 0;
    width: 0px;
    height: $progress-bar-height;
    
    background-color: $endy-red;
  }
}
