.progress {
  margin-left: 20px;
  
  &__visualization {
    position: relative;
    width: $progress-bar-width;
  }
  &__value {
    position: relative;
    top: 6px;
    left: 0px;
    
    font-size: 13px;
    font-weight: bold;
  }
  &__order-number {
    
  }
}
