.remove-btn {
  width: 82px;
  height: 25px;
  
  margin-left: 37px;
  
  color: #a6a6a6;
  font-size: 13px;
  background-color: transparent;
  
  border-radius: 10px;
  border: 1px solid $endy-grey;
  
  &:hover {
    cursor: pointer;
  }
  
  &:active {
    transform: translateY(1px);
  }
  
  &--red {
    color: #fff;
    background-color: $endy-red;
    border-color: $endy-red;
  }
}
