.single-product {
  display: flex;
  align-items: center;
  
  padding-top: 16px;
  padding-bottom: 17px;
  padding-left: 3px;
  padding-right: 3px;
  border-bottom: 1px solid #dbdbdb;
  
  &:last-child {
    border-bottom: none;
  }
  
  &__name {
    width: 200px;
    
    margin-left: 35px;
    margin-right: 25px;
    font-weight: bold;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  &__description {
    width: 225px;
    
    margin-left: 25px;
    margin-right: 50px;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}